* {
	margin: 0;
	padding: 0;
}

p {
	color: #005500;
}

h3 {
	margin: 10px 0 5px;
}

.competition-tabs li:nth-child(4) {
	margin-right: 40px;
}

.team input,
.top-players input {
	color: rgb(35, 35, 35);
}

.dark-text-color {
	color: rgb(25, 25, 25);
}

hr.team-divider {
	border-top: 2px solid #777;
	margin: 0;
}

ul, li {
	display: block;
}

body {
	padding: 20px 15px 15px;
}

.team-container {
	padding: 5px 0;
}

.team {
	margin: 0;
}

.team th,
.team caption,
.team td {
	padding: 3px !important;
}

.team caption {
	border-bottom: 2px solid #ccc;
}

.team caption input {
	font-weight: bold;
}

.team thead th {
	font-size: 13px !important;
	padding-left: 8px !important;
	border-bottom-color: #ccc !important;
}

.team .col-name {
	width: 20%;
}
.team .col-gender {
	width: 6%;
}
.team .col-slalom-buoys {
	width: 7%;
}
.team .col-slalom-slash {
	width: 1%;
	text-align: center;
}
.team .col-slalom-track {
	width: 10%;
}
.team .col-score,
.team .col-result {
	width: 8%;
}

.col-after-divide {
	border-left: 2px solid #ccc;
}

.team tbody .in-team-score {
	background-color: rgb(215, 238, 215);
	color: rgb(30, 60, 30);
	border-color: rgb(155, 204, 155);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 196, 90, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 196, 90, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 196, 90, 0.3);
}

.team .player-overall-score,
.team .team-event-score,
.top-players .top-player-event-score {
	background-color: rgb(220, 220, 220);
	color: rgb(35, 35, 35);
	border-color: rgb(190, 190, 190);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.team .team-overall-score,
.top-players .top-player-overall-score {
	font-weight: bold;
	background-color: rgb(240, 195, 190);
	color: rgb(60, 40, 35);
	border-color: rgb(195, 165, 155);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 100, 90, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 100, 90, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 100, 90, 0.3);
}

.team tfoot {
	border-top: 2px solid #ccc;
}

.team-add-container {
	margin: 10px 0;
}

.top-players-container {
	margin-top: 40px;
}

.top-players {
	margin-bottom: 5px;
}



.top-players .col-team {
	width: 16%;
}
.top-players .col-name {
	width: 20%;
}
.top-players .col-gender {
	width: 6%;
}
.top-players .col-slalom {
	width: 10%;
}
.top-players .col-score,
.top-players .col-result {
	width: 8%;
}