/** {*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/

p {
	color: #005500;
}

ul, li {
	display: block;
}

.team {
	/*border: black solid 1px;*/
	margin-bottom: 10px;
}

.team caption {
	align: left;
}

.team .in-team-score {
	border: 2px solid #55aa55;
}

.team tfoot input {
	font-weight: bold;
}