<!DOCTYPE HTML>
<!--TODO uncomment cache manifest and add new files to it-->
<html> <!--manifest="cache.manifest"-->
<head>
	<title>Water Skiing</title>
	
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />

	<link href="js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="js/AppModules.js"></script>
	<script src="js/other/TeamColors.js"></script>
	<script src="js/other/SlalomData.js"></script>
	<script src="js/other/CompetitionTypes.js"></script>
	<script src="js/router/Router.js"></script>
	<script src="js/model/CompetitionModel.js"></script>
	<script src="js/model/TeamModel.js"></script>
	<script src="js/model/PlayerModel.js"></script>
	<script src="js/collection/CompetitionCollection.js"></script>
	<script src="js/collection/TeamCollection.js"></script>
	<script src="js/collection/PlayerCollection.js"></script>
	<script src="js/view/TeamView.js"></script>
	<script src="js/view/CompetitionCollectionView.js"></script>
	<script src="js/view/CompetitionView.js"></script>
	<script src="js/view/TeamCollectionView.js"></script>
	<script src="js/view/TeamAddView.js"></script>
	<script src="js/view/PlayerView.js"></script>
	<script src="js/view/PlayerCollectionView.js"></script>
	<script src="js/view/TopPlayersView.js"></script>
	<script src="js/view/TopPlayerView.js"></script>
	<script src="js/view/PlayerCollectionView.js"></script>
	<script src="js/AppStart.js"></script>
</head>
<body>
	<script type="text/template" id="competitionsTemplate">
		<div role="competition-tabs-container">
			<ul class="competition-tabs nav nav-tabs" role="tablist">
				<% for (var i = 0; i < data.length; i++) { %>
				<li role="presentation" <%= (i == 0) ? 'class="active"' : '' %>>
					<a href="#competition-tab-<%= data[i].tabName %>" aria-controls="profile" role="tab" data-toggle="tab" class="competition-tab-link"><%= data[i].name %></a>
				</li>
				<% } %>
			</ul>
			<div class="tab-content">
				<% for (var i = 0; i < data.length; i++) { %>
					<div role="tabpanel" class="tab-pane<%= (i == 0) ? ' active' : '' %>" id="competition-tab-<%= data[i].tabName %>"></div>
				<% } %>
			</div>
		</div>
	</script>

	<script type="text/template" id="competitionTemplate">
		<% if (competitionType === window.COMPETITION_TYPES.EUROPE) { %>
		<div class="records-container">
			<h3>Рекорды</h3>
			<hr class="team-divider"/>
			<table class="records js-records table table-condensed">
				<thead>
					<tr>
						<th>Пол</th>
						<th class="col-after-divide">Слалом</th>
						<th>Фигурное катание</th>
						<th>Трамплин</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td class="col-records-gender">
							<input type="text" value="M" disabled class="form-control input-sm"/>
						</td>
						<td class="col-records-result col-after-divide">
							<input type="number" value="<%= worldRecordSlalomMen.toFixed(2) %>" class="form-control input-sm js-world-record-slalom-men"/>
						</td>
						<td class="col-records-result">
							<input type="number" value="<%= worldRecordTricksMen.toFixed(2) %>" class="form-control input-sm js-world-record-tricks-men"/>
						</td>
						<td class="col-records-result">
							<input type="number" value="<%= worldRecordJumpMen.toFixed(2) %>" class="form-control input-sm js-world-record-jump-men"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" value="Ж" disabled class="form-control input-sm"/>
						</td>
						<td class="col-after-divide">
							<input type="number" value="<%= worldRecordSlalomWomen.toFixed(2) %>" class="form-control input-sm js-world-record-slalom-women"/>
						</td>
						<td>
							<input type="number" value="<%= worldRecordTricksWomen.toFixed(2) %>" class="form-control input-sm js-world-record-tricks-women"/>
						</td>
						<td>
							<input type="number" value="<%= worldRecordJumpWomen.toFixed(2) %>" class="form-control input-sm js-world-record-jump-women"/>
						</td>
					</tr>
				</tfoot>
			</table>
			<hr class="team-divider"/>
		</div>
		<% } %>
		<div class="teams-container">
			<h3>Команды</h3>
			<hr class="team-divider"/>
			<div class="js-teams teams">
				<ul class="js-teams-list"></ul>
			</div>
			<div class="js-team-add-container team-add-container"></div>
			<hr class="team-divider"/>
		</div>
		<div class="js-top-players-men-container top-players-container"></div>
		<div class="js-top-players-women-container top-players-container"></div>
	</script>

	<script type="text/template" id="teamTemplate">
		<div class="team-container" style="background-color: <%= window.TEAM_COLORS[colorIndex].color %>">
			<table class="team js-team table table-condensed">
				<caption>
					<form role="form" action="" class="team-add js-team-add form-inline">
						<div class="form-group">
							<select class="js-team-color form-control input-sm">
								<% for (var i = 0; i < window.TEAM_COLORS.length; i++) { %>
								<option value="<%= i %>" style="background-color: <%= window.TEAM_COLORS[i].color %>" <%= (i == colorIndex) ? 'selected' : '' %>><%= window.TEAM_COLORS[i].name %></option>
								<% } %>
							</select>
							<input type="text" class="team-name js-team-name form-control input-sm" value="<%= name %>"/>
							<button type="button" class="js-team-delete-button btn btn-sm btn-default">Удалить</button>
						</div>
					</form>
				</caption>
				<thead>
					<tr>
						<th>Имя</th>
						<th>Пол</th>
						<th class="col-after-divide" colspan="5">Слалом</th>
						<th class="col-after-divide" colspan="2">Фигурное катание</th>
						<th class="col-after-divide" colspan="2">Трамплин</th>
						<th class="col-after-divide">Всего</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td class="col-after-divide" colspan="4"></td>
						<td>
							<input type="number" value="<%= slalomScore.toFixed(2) %>" disabled class="form-control input-sm team-event-score"/>
						</td>
						<td class="col-after-divide"></td>
						<td>
							<input type="number" value="<%= tricksScore.toFixed(2) %>" disabled class="form-control input-sm team-event-score"/>
						</td>
						<td class="col-after-divide"></td>
						<td>
							<input type="number" value="<%= jumpScore.toFixed(2) %>" disabled class="form-control input-sm team-event-score"/>
						</td>
						<td class="col-after-divide">
							<input type="number" value="<%= overallScore.toFixed(2) %>" disabled class="form-control input-sm team-overall-score"/>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<hr class="team-divider"/>
	</script>

	<script type="text/template" id="playerTemplate">
		<td class="col col-name">
			<input type="text" class="player-name js-player-name form-control input-sm" value="<%= name %>"/>
		</td>
		<td class="col col-gender">
			<select class="player-gender js-player-gender form-control input-sm">
				<option value="M" <% if (gender === "M") {%>selected<%}%>>М</option>
				<option value="F" <% if (gender === "F") {%>selected<%}%>>Ж</option>
			</select>
		</td>
		<!--slalom-->
		<td class="col col-slalom-buoys col-after-divide">
			<select class="player-slalom-buoys js-player-slalom-buoys form-control input-sm">
				<% for (var i = 0; i < window.SLALOM_BUOYS.length; i++) { %>
				<!--todo change . with , ?-->
				<option value="<%= i %>" <%= (i == slalomBuoysIndex) ? 'selected' : '' %>><%= ('' + window.SLALOM_BUOYS[i].toFixed(2)).replace('.',',') %></option>
				<% } %>
			</select>
		</td>
		<td class="col col-slalom-slash">/</td>
		<td class="col col-slalom-track">
			<select class="player-slalom-track js-player-slalom-track form-control input-sm">
				<% for (var i = 0; i < slalomMenTracks.length; i++) { %>
				<option value="<%= i %>" <%= (i == slalomTrackIndex) ? 'selected' : '' %>><%= (gender === "M") ? slalomMenTracks[i] : slalomWomenTracks[i] %></option>
				<% } %>
			</select>
		</td>
		<td class="col col-result">
			<input type="number" class="player-slalom-result js-player-slalom-result form-control input-sm" value="<%= ('' + slalomResult.toFixed(2)) %>" disabled/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm <%= isSlalomInTeamScore ? 'in-team-score' : 'not-in-team-score'%>" value="<%= slalomScore.toFixed(2) %>" disabled/>
		</td>
		<!--tricks-->
		<td class="col col-tricks col-result col-after-divide">
			<input type="number" class="player-tricks-result js-player-tricks-result form-control input-sm" value="<%= tricksResult %>"/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm <%= isTricksInTeamScore ? 'in-team-score' : 'not-in-team-score'%>" value="<%= tricksScore.toFixed(2) %>" disabled/>
		</td>
		<!--jump-->
		<td class="col col-jump col-result col-after-divide">
			<input type="number" class="player-jump-result js-player-jump-result form-control input-sm" value="<%= jumpResult %>"/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm <%= isJumpInTeamScore ? 'in-team-score' : 'not-in-team-score'%>" value="<%= jumpScore.toFixed(2) %>" disabled/>
		</td>
		<!--overall-->
		<td class="col col-score col-after-divide">
			<input type="number" class="form-control input-sm player-overall-score" value="<%= overallScore.toFixed(2) %>" disabled/>
		</td>
	</script>

	<script type="text/template" id="teamAddTemplate">
		<form role="form" action="" class="team-add js-team-add form-inline">
			<div class="form-group">
				<select class="js-team-color form-control input-sm">
					<% for (var i = 0; i < window.TEAM_COLORS.length; i++) { %>
					<option value="<%= i %>"
							style="background-color: <%= window.TEAM_COLORS[i].color %>"
					<%= (i == 0) ? 'selected' : '' %>
					>
					<%= window.TEAM_COLORS[i].name %>
					</option>
					<% } %>
				</select>
				<input type="text" placeholder="Название команды" class="js-team-name form-control input-sm"/>
				<button type="button" class="js-team-add-button btn btn-primary btn-sm">Добавить команду</button>
			</div>
		</form>
	</script>

	<script type="text/template" id="topPlayersTemplate">
		<h3>Лыжники - <%= genderName %></h3>
		<hr class="team-divider"/>
		<table class="top-players js-top-players table table-condensed">
			<thead>
			<tr>
				<th>Команда</th>
				<th>Имя</th>
				<th class="col-after-divide" colspan="2">Слалом</th>
				<th class="col-after-divide" colspan="2">Фигурное катание</th>
				<th class="col-after-divide" colspan="2">Трамплин</th>
				<th class="col-after-divide">Всего</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<hr class="team-divider"/>
	</script>

	<script type="text/template" id="topPlayerTemplate">
		<td class="col col-team">
			<input type="text" class="form-control input-sm dark-color-text" disabled value="<%= teamName %>"/>
		</td>
		<td class="col col-name">
			<input type="text" class="form-control input-sm dark-color-text" disabled value="<%= name %>"/>
		</td>
		<!--slalom-->
		<td class="col col-slalom col-after-divide">
			<input type="text" class="form-control input-sm dark-color-text dark-color-text" disabled value="<%= ('' + window.SLALOM_BUOYS[slalomBuoysIndex].toFixed(2)).replace('.',',') %> / <%= (gender === "M") ? slalomMenTracks[slalomTrackIndex] : slalomWomenTracks[slalomTrackIndex] %>"/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm top-player-event-score dark-color-text" disabled value="<%= slalomScore.toFixed(2) %>"/>
		</td>
		<!--tricks-->
		<td class="col col-tricks col-result col-after-divide">
			<input type="number" class="form-control input-sm dark-color-text" disabled value="<%= tricksResult %>"/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm top-player-event-score dark-color-text" disabled value="<%= tricksScore.toFixed(2) %>"/>
		</td>
		<!--jump-->
		<td class="col col-jump col-result col-after-divide">
			<input type="number" class="form-control input-sm dark-color-text" disabled value="<%= jumpResult %>"/>
		</td>
		<td class="col col-score">
			<input type="number" class="form-control input-sm top-player-event-score dark-color-text" disabled value="<%= jumpScore.toFixed(2) %>"/>
		</td>
		<!--overall-->
		<td class="col col-score col-after-divide">
			<input type="number" class="form-control input-sm top-player-overall-score" value="<%= overallScore.toFixed(2) %>" disabled/>
		</td>
	</script>
</body>
</html>
